{include file='common/head.html'}

<div class="layui-body">
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">在线更新</li>
	    <li lay-id="t2">更新设置</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
		  	   	<table class="layui-table">
	            	<thead>
	                    <tr>
	                        <th width="30">选择</th>
	                        <th>更新文件</th>
	                        <th>更新方式</th>
	                        <th>本地时间</th>
	                        <th>更新时间</th>
	                    </tr>
	                </thead>
	                <tbody id="upfile">
	                    {foreach $upfile(key,value)}
	                    <tr>
	                        <td><input type="checkbox" checked class="checkbox checkitem" lay-ignore name="list" value="[value->path]"></td>
	                        <td>[value->path]</td>
	                        <td>[value->type]</td>
	                        <td>[value->ltime]</td>
	                        <td>[value->ctime]</td>
	                    </tr>
	                    {/foreach}
	                    {if([$upfile] && get('action')=='local')}
	                     <tr>
	                    	 <td><input type="checkbox" class="checkbox" checked lay-ignore id="checkall" title="全选"></td>
	                    	 <td colspan="4">已下载更新：[num]个文件</td>
	                    </tr>
	                    {/if}
	                </tbody> 
	            </table>

	             {if(get('action')=='local')}
	             	<button class="layui-btn" id="check" data-url='{url./admin/Upgrade/check}'>重新检查</button>
	             {else}
	             	<button class="layui-btn" id="check" data-url='{url./admin/Upgrade/check}' id="check">检查更新</button>
	             {/if}
	             <button class="layui-btn" {if(![$upfile])}style="display:none"{/if} id="update" data-url='{url./admin/Upgrade/update}'>执行更新</button>
	             <button class="layui-btn" style="display:none" id="down" data-url='{url./admin/Upgrade/down}'>下载更新</button>
	  	   </div>
	  	   
	  	   <div class="layui-tab-item">
	  	   	   <form action="{url./admin/Config/index}" method="post" class="layui-form">
	  	   	   	   <input type="hidden" name="formcheck" value="{$formcheck}" > 
	  	   	   	   
	  	   	   	   <div class="layui-form-item">
	                     <label class="layui-form-label">更新分支</label>
	                     <div class="layui-input-inline">
	                     	 <select name="upgrade_branch">
				             	<option value="2.X" {if([$branch]=='2.X')}selected{/if}>2.X 稳定版</option>
				             	<option value="2.X.dev" {if([$branch]=='2.X.dev')}selected{/if} >2.X 测试版</option>
				             </select>
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">强制文件同步</label>
	                     <div class="layui-input-block">
	                        <input type="hidden" name="upgrade_force" value="0"><!-- 默认0 -->
	                     	<input type="checkbox" name="upgrade_force" value="1" {if([$force])}checked{/if} lay-skin="switch" lay-text="开启|关闭">
	                     </div>
	                    <div class="layui-form-mid layui-word-aux">适用有部分文件更新失败或检查文件与官方一致性。</div>
	                </div>
	                
		            <div class="layui-form-item">
						 <div class="layui-input-block">
						    <button class="layui-btn" lay-submit name="submit" value="upgrade">保存</button>
						    <button type="reset" class="layui-btn layui-btn-primary">重选</button>
						 </div>
					</div>
	           </form>
	  	   </div>
	  </div>
	</div>	
</div>



{include file='common/foot.html'}